/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://api.fontshare.com/css?f[]=cabinet-grotesk");

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

input.full-input{
  width: 100%;
}
input:focus{
  outline: none;
}
