/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: red;
}

* {
  box-sizing: border-box;
}
.navbar {
  position: relative;
  background: black;
}

#navlist {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  background: black;
}

#navlist li {
  text-align: center;
  padding: 1.6em;
  font-size: 18px;
  color: white;
}

#navlist li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

body {
  padding: 0;
  margin: 0;
}

.button {
  margin-right: 3px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: gray;
}

.success {
  background-color: #4caf50 !important;
}
